body {
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: consolas !important;
  color: #fff !important;
  background-position: center;
}